<div>
    <mat-card class="mat-elevation-z24"> 
      <mat-card-header>
        <mat-card-title>Wnioski (application-list)</mat-card-title>
      </mat-card-header>
  
      <mat-card-content>
        <mat-table #table [dataSource]="applications">
  
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>id</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Nazwa</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="path">
            <mat-header-cell *matHeaderCellDef>Link</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.path}} </mat-cell>
          </ng-container>
  
  
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
        </mat-table>
      </mat-card-content>
    </mat-card>
  </div>