<div>
  <mat-toolbar color="primary" class="mat-elevation-z24">
    <mat-toolbar-row>
      Instytucje (home-institutions)
      <span class="example-spacer"></span>
      <button mat-icon-button [routerLink]="['../']">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-table #table [dataSource]="institutions">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Nazwa</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef>Adres</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="officials">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" [matMenuTriggerFor]="menu"
          (click)="findOfficialsByInstitution(element.id)">Znajdź
          urzędnika</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngFor="let official of officials">
            {{official.name}} {{official.surname}}
            <button mat-icon-button *ngIf="ifSignedIn">
              <mat-icon>message</mat-icon>
            </button>
          </button>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="map">
      <mat-header-cell style="align-content: right;" *matHeaderCellDef>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" (click)="selectInstitutionId(element.id)"
          [routerLink]="['./maps']">Zobacz mapę</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
  <router-outlet></router-outlet>

</div>