<mat-toolbar color="primary" class="mat-elevation-z24">
    <mat-toolbar-row>Umawianie wizyt (visit-panel)
        <span class="example-spacer"></span>
        <button mat-icon-button [routerLink]="['../']">
            <mat-icon>cancel</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>


<mat-form-field class="span-menu">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Wyszukaj urzędnika">
</mat-form-field>

<mat-form-field class="example-full-width span-menu">
    <input matInput [min]="minDate" [matDatepickerFilter]="dateFilter" [matDatepicker]="picker"
        placeholder="Wybierz datę">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle >
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<mat-table #table class="mat-elevation-z24" [dataSource]="visits">

    <ng-container matColumnDef="day">
        <mat-header-cell *matHeaderCellDef>Data</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.visitDate.substring(0,10)}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="time">
        <mat-header-cell *matHeaderCellDef>Godzina</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.visitDate.substring(11,16)}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="official">
        <mat-header-cell *matHeaderCellDef>Urzędnik</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.official.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="choose">
        <mat-header-cell *matHeaderCellDef>Data</mat-header-cell>
        <mat-cell *matCellDef="let element">Wybierz</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>