<div class="container">
  <mat-toolbar color="primary" class="top-toolbar">
    <mat-toolbar-row>
      <span class="example-fill-remaining-space"></span>
      <span class="example-spacer"></span>

      <button mat-fab [routerLink]="['/home']">Home</button>

      <ng-container *ngIf="!ifSignedIn">
        <button mat-raised-button class="span-menu" [routerLink]="['/login']">Zaloguj</button>
        <button mat-raised-button class="span-menu" [routerLink]="['/register']">Zarejestruj</button>
      </ng-container>
      <ng-container *ngIf="ifSignedIn">
        <button mat-raised-button class="span-menu" (click)="signOut()">Wyloguj</button>
        <button mat-raised-button class="span-menu" (click)="showRoles()">{{this.username}}</button>
      </ng-container>
      <ng-container *ngIf="ifAdmin()">
        <button mat-raised-button class="span-menu" [routerLink]="['/userlist']">Panel administratora</button>
      </ng-container>
    </mat-toolbar-row>
  </mat-toolbar>

  <router-outlet></router-outlet>
</div>