<div class="container">
  <mat-toolbar color="primary" class="mat-elevation-z24">
    <mat-toolbar-row>
      <button mat-button class="my-header" [routerLink]="['/home']">OŚRODEK POMOCY SPOŁECZNEJ</button>
      <span class="example-spacer"></span>

      <button mat-raised-button class="span-menu" color="accent" [routerLink]="['/home']">Strona główna</button>

      <ng-container *ngIf="!ifSignedIn">
        <button mat-raised-button class="span-menu" [routerLink]="['/login']">Zaloguj</button>
        <button mat-raised-button class="span-menu" [routerLink]="['/register']">Zarejestruj</button>
      </ng-container>
      <ng-container *ngIf="ifSignedIn">
        <button mat-raised-button class="span-menu" (click)="signOut()">Wyloguj</button>
        <button mat-raised-button class="span-menu" [routerLink]="['/user/profile']">Profil użytkownika
          {{this.username}}</button>
      </ng-container>
      <ng-container *ngIf="ifAdmin()">
        <button mat-raised-button class="span-menu" [routerLink]="['/adminpanel/userlist']">Panel
          administratora</button>
      </ng-container>
      <ng-container *ngIf="ifOfficial()">
        <button mat-raised-button class="span-menu" [routerLink]="['/officialpanel']">Panel urzędnika</button>
      </ng-container>
    </mat-toolbar-row>
  </mat-toolbar>

  <router-outlet></router-outlet>
</div>