  .spacer {
    flex: 1 1 auto;
  }
  
  .span-menu {
    padding-left: 15px;
    padding-right: 15px;
    margin: 2px;
  }

  .my-header {
    color: rgb(9, 76, 90);
    font-weight: bold;
  }


#home-image img {
  display: block;
  height: 40px;  
  width: 40px;
}
