<mat-toolbar color="primary" class="mat-elevation-z24">
    <mat-toolbar-row>
        <h2>Profil użytkownika (user)</h2>
        <span class="example-fill-remaining-space"></span>
        <span class="example-spacer"></span>
        <button mat-raised-button class="span-menu" color="accent" [routerLink]="['./profile']">Moje dane</button>
        <button mat-raised-button class="span-menu" color="accent" [routerLink]="['./visits']">Moje wizyty</button>
    </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>