@import "~@angular/material/theming";
@import "./theme.scss";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-toolbar {
  position: relative;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-card {
  width: 400px;
  margin: 5% auto;
}

.bg {
  background-color: rgb(56, 42, 44);
  background-image: url("./assets/images/daisy_background.jpg");
  background-attachment: fixed;
}

