    <mat-toolbar color="primary" class="mat-elevation-z24">
      <mat-toolbar-row>
        <h2>Panel administratora (admin-panel)</h2>
        <span class="example-spacer"></span>
        <button mat-raised-button class="span-menu" color="accent" [routerLink]="['./applicationslist']">Złożone wnioski</button>
        <button mat-raised-button class="span-menu" color="accent" [routerLink]="['./applicationadd']">Dodaj wniosek</button>
        <button mat-raised-button class="span-menu" color="accent" [routerLink]="['./userlist']">Użytkownicy</button>
        <button mat-raised-button class="span-menu" color="accent" [routerLink]="['./institutionpanel']">Urzędnicy</button>
      </mat-toolbar-row>
    </mat-toolbar>
  
    <router-outlet></router-outlet>